/*
common
***************/

body {
    height: 100%;
    background-color: white;

}
.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: black;

}
.logo img{
    border-radius: 50%;
}

/*
Post
***************/

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
    background-color: aqua;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    
}


.posts ul {
    padding: 0%;
}

.posts li {
    display: flex;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 15px;
    background-color: aqua;
}
.posts li .menu{
    display: none;
    position: absolute;
    right: 15px;
    top: 40px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
    background-color: white;

}
.posts li .menu a{
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}
.posts li .menu_icon{
    width: 20px;
    position: absolute;
    right: 50px;
    top: 15px;
}

.posts li .name_body {
    background-color: white;
    flex-basis: 85%;
    padding: 1vw;
}

.posts li .name_body .name{
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}


@media  screen and (max-width: 500px) {
.posts li .name_body .name {
    font-size: 20px;
}
    }


